@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-judson: 'Judson', serif;
  --font-jaini: 'Jaini Purva', serif;
  --font-irish-grover: 'Irish Grover', cursive;
  --font-kufam: 'Kufam', sans-serif;
}

